@mixin flex($direction: "row", $horizontal: "center", $vertical: "center") {
  display: flex;
  flex-direction: $direction;

  @if $direction="row" {
    justify-content: $horizontal;
    align-items: $vertical;
  }

  @else if $direction='row-reverse' {
    justify-content: $horizontal;
    align-items: $vertical;
  }

  @else if $direction='column' {
    justify-content: $vertical;
    align-items: $horizontal;
  }

  @else if $direction='column-reverse' {
    justify-content: $vertical;
    align-items: $horizontal;
  }
}

@mixin fixed($position, $distance) {
  position: fixed;
  #{$position}: $distance;
}