@import '../../../../static/style/color.scss';
@import '../../../../static/style/global.scss';
@import '../../../../static/style/mixin.scss';
@import '../../../../static/style/animation.scss';
@import '../../../../static/style/var.scss';

$prefix: rain-design-popup;

.#{$prefix} {
  @include flex(row, center, center);
  z-index: 900;
  padding: 10px;
  color: $color-white;

  // 父级蒙版
  &-list {
    @include flex(row, center, center);
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  // type 类属性样式
  &-default {
    background-color: rgba(0, 0, 0, .5);
  }

  &-success {
    background-color: $color-green-5;
  }

  &-warning {
    background-color: $color-orange-5;
  }

  &-danger {
    background-color: $color-red-5;
  }

  // position 类属性样式
  &[class*="top"] {
    @include fixed(top, 30px);

    &[class*="Left"] {
      @include fixed(left, 30px);
    }

    &[class*="Right"] {
      @include fixed(right, 30px);
    }
  }

  &-center {
    position: fixed;
  }

  &-bottom {
    @include fixed(bottom, 30px);
  }

  // animation 类属性样式
  &-fade.rain-design-popup-show {
    animation: popupFadeIn $popup-open-close-animation-duration ease-in;
  }

  &-fade.rain-design-popup-hide {
    animation: popupFadeOut $popup-open-close-animation-duration ease-in;
  }

  &-slide.#{$prefix}[class*="top"].#{$prefix}-show {
    animation: popupTopSlideIn $popup-open-close-animation-duration ease-in-out;
  }

  &-slide.#{$prefix}[class*="top"].#{$prefix}-hide {
    animation: popupTopSlideOut $popup-open-close-animation-duration ease-in-out;
  }

  &-slide.#{$prefix}[class*="topLeft"].#{$prefix}-show {
    animation: popupTopLeftSlideIn $popup-open-close-animation-duration ease-in-out;
  }

  &-slide.#{$prefix}[class*="topLeft"].#{$prefix}-hide {
    animation: popupTopLeftSlideOut $popup-open-close-animation-duration ease-in-out;
  }

  &-slide.#{$prefix}[class*="topRight"].#{$prefix}-show {
    animation: popupTopRightSlideIn $popup-open-close-animation-duration ease-in-out;
  }

  &-slide.#{$prefix}[class*="topRight"].#{$prefix}-hide {
    animation: popupTopRightSlideOut $popup-open-close-animation-duration ease-in-out;
  }

  &-slide.#{$prefix}[class*="bottom"].#{$prefix}-show {
    animation: popupBottomSlideIn $popup-open-close-animation-duration ease-in-out;
  }

  &-slide.#{$prefix}[class*="bottom"].#{$prefix}-hide {
    animation: popupBottomSlideOut $popup-open-close-animation-duration ease-in-out;
  }
}