@import './style/scss/color.scss';
@import './style/scss/global.scss';
@import './style/scss/mixin.scss';
@import './style/scss/animation.scss';
@import './style/scss/var.scss';

.demo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $color-blue-grey-9;

  &-card {
    width: 1080px;
    margin: 0 auto;

  }

  &-buttons {
    @include flex(row, space-around);
    width: 1080px;
    margin: 20px auto;
  }
}